- t_scope 'layouts.application.nag_notice' do
  #nag_notice
    %table{ :style => 'width: 100%' }
      %tr
        %td{ :style => 'vertical-align: middle; padding: 5px 20px;' }= image_tag("icons/information.png")
        %td
          = t(:no_birthday_set1)
          = t(:no_birthday_set2, :link_text => link_to(t(:no_birthday_set2_link_text), :controller => 'admin/options', :action => 'account'))
          %br/
          = t(:no_birthday_set3)
          %br/
          %span{ :style => 'font-size: 75%' }
            == [#{link_to(t(:dismiss_this_message), {:controller => 'admin/main', :action => 'dismiss_nag_notice', :notice => 'birthday'}, :onclick => "dismiss_nag_notice('birthday'); return false;")}]
