- t_scope 'controllers.admin.archive_layouts.form.new' do
  - title t(:title)
  - form_for [:admin, @archive_layout] do |f|
    = hidden_field_tag "id", @archive_layout.type_id
    = error_messages_for :archive_layout
    = render "form", :f => f
    %p.center
      = submit_tag t(:create_layout), :name => 'commit'
      &nbsp;
      = submit_tag t(:cancel, :scope => "general.form"), :name => 'cancel'