%style{ :type => 'text/css' }
  :sass
    sup
      vertical-align: super
      font-size: smaller

    h2, h3, h4
      color: #3B4172
      font-family: Georgia,Times,"Times New Roman",serif

    h3
      font-size: 1.4em

    h4
      font-size: 1.1em
        
    h2 + p
      margin-bottom: 40px

    span.woc
      font-weight: bold
      color: #3D4961

    div.image-right
      float: right
      padding: 5px

      img
        border: 1px solid black

      p
        text-align: center
        font-style: italic
        font-size: 80%

%div#woc-header{ :style => 'width: 100%; clear: both; text-align: center;' }
  = image_tag('woc/header.png')

%h2 Introducing World of Codexed<sup>TM</sup>! 
%p
  %span.woc World of Codexed<sup>TM</sup>
  is a brand new joint initiative between 
  == #{link_to "Blizzard Entertainment", "http://www.blizzard.com/us/"}, makers of such hit games as <b>Starcraft</b> and <b>World of Warcraft</b>,
  == and the creators of #{link_to "Codexed", "http://www.codexed.com"}. In the spirit of both companies' previous products,
  %span.woc World of Codexed<sup>TM</sup>
  is a journalling-based, massively multiplayer, online role playing game, or a <b>JBMMORPG</b>, as we like to call it.
  %span.woc World of Codexed<sup>TM</sup>
  is currently in <b>beta testing</b>,
  keep reading for more information!

%h2 The World of World of Codexed<sup>TM</sup>
%p{ :style => 'margin-bottom: 0;' }
  Welcome to <b>Jurnaloth</b>, the world of 
  <span class="woc">World of Codexed<sup>TM</sup></span>.
%p
  Situated at the heart of the largest continent on Jurnaloth was the capital kingdom of Diariax, where the people were content under the benevolent
  rule of King Stephano. The kingdom had thrived for many a millenia, forging peace treaties with its neighbours in order to ensure the safety of its growing
  population. 
%p
  All was not as it seemed, however. As King Stephano and his loyal subjects lived in peace and prosperity, a force of evil was building from within. This evil
  was not content with the rule of King Stephano; rather, it feasted on chaos and ruin. For four hundred years, the evil sat, waiting for its opportunity to strike, all
  the while growing in power.
%p
  Not long after the Feast of Winktober, the evil struck without warning. Before anyone realized what was happening or was able to stop it, the evil had overtaken the kingdom.
  Hardriva, the Royal Palace, had been demolished. King Stephano had been captured. His loyal subjects were killed en masse. Fire and destruction rained through the streets.
%p
  When the dust settled, all that remained was a small group of villagers, who had somehow managed to avoid the wrath of the evil and emerge unscathed...
%p
  Three years have passed since that fateful day. You were one of those survivors, and with the rest of your small clan, you have migrated away from the Kingdom of Diariax, and
  founded the new Kingdom of Codexia, built upon the tenets taught by King Stephano. However, Codexia is not a safe haven like Diariax was. Monsters roam the land. Neighbouring
  states have taken advantage of the Kingdom's inability to defend itself to attack as they see fit. And the evil still lurks in the shadows, waiting to finish the job.
%p
  Today, you have been summoned into the royal chambers of the Kingdom of Codexia and given a quest...

%h3 Creating a Character
%p
  Before beginning your epic journey through the kingdom of Codexia and the land of Jurnaloth, you must create a character (often called a resident of Jurnaloth, or a Jurnali)! Luckily,
  %span.woc World of Codexed<sup>TM</sup>
  offers more selection than you've ever encountered in a video game before! Choose from a whopping <b>seven</b> factions, <b>fifteen</b> races (including fangirls, artistes, and night elves),
  <b>twenty-two</b> classes and <b>a slew of</b> additional character traits
  (such as depressed emo, intellectual, and porn star) to create a completely original and completely customizable character to lead you through your
  %span.woc World of Codexed<sup>TM</sup>
  experience.
%p
  Take a look at this sneak peak at a few of the unique character classes
  %span.woc World of Codexed<sup>TM</sup>
  will offer:
%h4 Moderatii 
%p
  The Moderatii are a secret cabal of watchers, who spend the first thirty-seven years of their lives studying the ways of their order in 
  a secret monastery in the Grotto. Through their study, the Moderatii have learned the ways of <i>fora fu</i> and thus are adept at close combat.
  The leader of the Moderatti is bestowed the honour of wielding the Holy Hammer of Baan. 
  %ul
    %li Moderatii can cast 'U is not a word' once per day to inflict bonus damage against monsters and characters with the 'poor grammar' or 'txt talk' traits.
    %li Moderatii get a base 150% attack against Troll-type monsters, but the bonus decreases with each additional Troll in the area.
    %li Moderatii have the ability to modify other characters' wurds (see Questing &amp; Advancement)

%h4 sEntries
%p
  The sEntries are the remnants of King Stephano's Royal Guard. As their main role was to defend the King, sEntires have very good defensive
  characteristics. However, all sEntries are wracked with guilt over letting King Stephano be captured, leading to a Confidence penalty (which also lead to the sEntries
  deciding to capitalize the second letter in their name rather than the first).
  %ul
    %li sEntries have the special ability of 'Back Up', which lets them store their wurds in a safe location, free from the threat of capture or destruction.
    %li sEntries who adventure in a party along with a Templato character to unlock access to the Jurnaloth Archives, where they will be able to study advanced techniques.
  
%h3 Questing &amp; Advancement
%p
  In order to save the Kingdom of Codexia, you will have to travel through the land of Jurnaloth, collecting the realm's currency,
  <b>wurds</b>. Wurds are used not only to purchase better equipment, but are also to advance ("level up") your character. As there is a huge variety
  of different types of wurds, the various ones collected affect the development of your character.
%p
  Collecting wurds is simple. As you travel through Codexia, you will encounter other characters. These characters often have quests to give
  aspiring young adventurers such as yourself. These quests are far-reaching in their scope -- some of the quests you encounter on the way will
  have you transcribe lines on magical chalkboards, build and rebuild libraries until the patron's satisfaction is reached, or walking alongside
  noble knights as they dictate their days for you to log. 
%p
  With enough time and effort (and don't forget your monthly subscription fee!), you will progress from the lowly rank of Quill Sharpener to the prestigious Scribe Laureate!
%p
  Of course, like most MMORPGs,
  %span.woc World of Codexed<sup>TM</sup>
  requires a lot of "grinding" (doing the same task repeatedly and ad nauseum). 
  
%h3 Creatures
%div.image-right
  = image_tag('woc/forum-troll.png')
  %p A Foru'um Troll in its native environment.
%p
  Along the way, you will certainly encounter a wide variety of friendly and hostile creatures that you will have to deal with in order to carry on your epic journey.
  However, how you choose to deal with these creatures is up to you. Will you savagely defeat them all in mortal combat? Or will you ally with them for the good (or bad)
  of mankind?
%p Some of these creatures include:
%ul
  %li 
    %b Dizzy People:
    The Dizzy People were small creatures that worshipped King Stephano during his reign. However, with his disappearance, the Dizzy People have lost their
    sense of order and attack anyone who crosses their path. Naturally, Dizzy People are often spinning.
  %li
    %b Foru'um Trolls:
    The Foru'um Trolls are a clan of Trolls living in the Foru'um Swamps, where they bicker amongst themselves and anyone with the misfortune of approaching.
    Foru'um Trolls have very high charisma but very low intelligence. They carry Kee boards which they use to club unsuspecting tresspassers. They often cast Aggrevate.
  %li
    %b Five-Headed Giant Swamp Reptiles:
    These creatures, also indigenous to the Foru'um Swamps, are said to have evolved from the Trolls. They are characteristic by their insistance on being called
    only by their given name, and by their propensity to cast Temporary Teleport repeatedly and thus continuously appear and disappear.
  %li
    %b Lurkers:
    Lurkers are highly stealthy creatures, often hiding around large caches of wurds. Lurkers are generally harmless, and will grow fond of characters with many wurds;
    if you discover one has taken a fancy to you, you could be granted special abilities! 
  %li
    %b Cheesers:
    Cheesers are a highly evolved species of pasteurized milk. The Cheesers have been involved in a three-century long battle against the Anti-Cheesers, their mortal enemies,
    and will reward characters who bring them the Anti-Cheesers' hunting tools, the Grater. Conversely, hunting Cheesers will let you collect a large amount of healing curds.
  %li
    %b Anti-Cheesers:
    See Cheesers.
  %li
    %b Ash:
    Ash is a unique boss creature. A rogue Moderatii, Ash is confident to the point of delusion; trying to engage Ash in combat will teleport you to his mind-world. His appearance
    fluctuates between covered in hair and completely shorn, and he wields a biting tongue (literally, a tongue with teeth on it). Ash's presence causes spells to be cast at random.
  
%h3 Unique Equipment
%p
  What is an adventurer without equipment? Just a normal peasant with grandiose thoughts, I imagine. Luckily, the world of Jurnaloth is full of trinkets waiting to be bought, pilfered
  or discovered. Some examples of equipment you might find along your way:
  %ul
    %li
      %b Queen Fransisca's Tower Shield (aka the QFT Shield):
      This shield, a gift to Queen Fransisca at her divorce, was crafted by the realm's finest artistes, in order to protect her from the wrath of her ex-husband. Any magical attack sent
      towards the shield is copied and sent back to the caster.
    %li
      %b The Wand of Hugzentazr
      A magical wand which allows its wielder to invoke one of two powers -- a healing spell that envelops the target, or a powerful lightning attack. Occasionally invokes a third power,
      which causes mass confusion.

%h3 Social Aspects
%p
  As 
  %span.woc World of Codexed<sup>TM</sup>
  is a <b>JBMMORPG</b>, there are obviously a lot of multiplayer activities you can partake in. Pit your wurds against another characters in the Revue Arena -- winner takes all.
  Or team up with other players to find wurds together and figure out how to attribute them! Characters can join large teams and work together to build Projects (the slums of Codexia) or battle
  with Player vs Player only powers such as Corruption (which removes random wurds from a character's collection).

%h3{ :style => 'text-align: center' }
  What are you waiting for? 
  = link_to "Register now", {:controller => 'april/2009', :action => 'register'}
  and start playing today!
