- t_scope 'controllers.user.forgot_password' do
  - title t(:title)

  %p= t(:instructions)

  - form_tag({}, { :style => 'margin-top: 2em' }) do
    %table
      %tr
        %th= t(:enter_codexed_username) + ":"
        %td
          = text_field_tag 'username'
          &nbsp;
          = submit_tag "#{t(:send_email)} &raquo;"
