- t_scope 'controllers.user.reset_password' do
  - title t(:title)
  
  %p= t(:instructions)

- t_scope 'general.form' do
  - form_tag({}, { :style => 'margin-top: 2em' }) do
    %blockquote.lightfill.padded
      %table.form
        %tr
          %th== #{t(:username)}:
          %td= text_field_tag "username", @username
        %tr
          %th== #{t(:new_password)}:
          %td= password_field_tag "new_password"
        %tr
          %th== #{t(:confirm_password)}:
          %td= password_field_tag "new_password_confirm"
        %tr
          %td{ :colspan => 2 }
            = hidden_field_tag "key", @key
      
    %p.center= submit_tag "#{t(:change_password)} &raquo;"
